/wp-content/plugins/if-menu
/wp-content/uploads
/vendor/*
/vendor

/wp-content/plugins/combat-plugin/vendor
/wp-content/plugins/nextend-facebook-connect
/wp-content/plugins/wp-mail-smtp
/wp-content/plugins/wordpress-seo
