/wp-content/plugins/if-menu
/wp-content/uploads
/vendor/*
/vendor

/wp-content/plugins/combat-plugin/vendor
/wp-content/plugins/nextend-facebook-connect
/wp-content/plugins/wp-mail-smtp
/wp-content/plugins/wordpress-seo
/wp-content/themes/twentytwenty/package.json
/wp-content/themes/twentynineteen/package-lock.json
/wp-content/plugins/combat-plugin/package-lock.json
/wp-content/themes/twentytwenty/package-lock.json
/wp-content/plugins/products-online/vendor
/wp-content/plugins/products-online/composer.lock
