body.login div#login p#backtoblog {
    display: none;
}

body.login {
    background-image: url('assets/images/colors.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#login > h1 > a {
    display: none;
}

.login #nav > a {
    color: aliceblue;
}

a.privacy-policy-link {
    color: #ffffff;
}


#loginform > div:first-child {
    color: #c50000;
    font-size: 14px;
    font-weight: 600;
}
